@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-100.woff') format('woff'),
            url('../webfonts/roboto/roboto-v29-latin-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-100italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-100italic.woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-300.woff'),
            url('../webfonts/roboto/roboto-v29-latin-300.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-300italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-300italic.woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-500.woff'),
            url('../webfonts/roboto/roboto-v29-latin-500.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-500italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-500italic.woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-700.woff'),
            url('../webfonts/roboto/roboto-v29-latin-700.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-700italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-700italic.woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-900.woff'),
            url('../webfonts/roboto/roboto-v29-latin-900.woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-900italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-900italic.woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-italic.woff'),
            url('../webfonts/roboto/roboto-v29-latin-italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src:    url('../webfonts/roboto/roboto-v29-latin-regular.woff'),
            url('../webfonts/roboto/roboto-v29-latin-regular.woff2');
    font-weight: normal;
    font-style: normal;
}